body{
    background-image: url("../img/plane.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.signup-form{
    background-color: rgba(51, 122, 163, 0.2);
    width: 80%;
    margin: 50px auto;
    padding-bottom: 15px;
}

.signup-header{
    background-color: #337ab7;
    margin-bottom: 35px;
}

.signup-header h3{
    color: #fff;
    padding:10px;
}

label{
    color: #fff;
}

.form-group{
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    .signup-form .container{
        max-width: 80%;
    }
}

.btn-signup{
    margin-top: 15px;
}

